html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #101010;
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to bottom, #000, #101010); */
  background: linear-gradient(to bottom, #04132e, #020916) no-repeat fixed;
}
#about-section {
  background: rgba(252, 252, 252, 0.05);
  background: linear-gradient(
    rgba(252, 252, 252, 0.05),
    rgba(252, 252, 252, 0.1)
  );
}
#landing-img {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://source.unsplash.com/suLgJZ1edT4/1920x1280");
  background-size: cover;
  overflow: hidden;
}
#dark-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.svg-inline--fa {
  font-size: 1em !important;
}

.bg-black {
  background: #000000 !important;
}

.project-img {
  background-size: cover !important;
  background-position: center !important;
}
